@model AnimalsParty.ViewModels.DogsVM.DogsListVM

<p>
    @Html.ActionLink("Create New", "Edit")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Person</th>
        <th></th>
    </tr>

@foreach (var item in Model.Dogs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
