@model AnimalsParty.ViewModels.CountriesVM.CountriesListVM

@{
    ViewBag.Title = "List Countries";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>

@using (Html.BeginForm("List", "Countries", FormMethod.Get))
{
    <div>
        Find by name: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @{
                Model.Props["SortOrder"] = Model.SortOrder == "name_desc" ? "name_asc" : "name_desc";
                Model.Props["Search"] = Model.Search;
                @Html.ActionLink("Name", "List", "Countries", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                Model.Props["SortOrder"] = Model.SortOrder == "population_asc" ? "population_desc" : "population_asc";
                Model.Props["Search"] = Model.Search;
                @Html.ActionLink("Population", "List", "Countries", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                Model.Props["SortOrder"] = Model.SortOrder == "date_desc" ? "date_asc" : "date_desc";
                Model.Props["Search"] = Model.Search;
                @Html.ActionLink("Foundation Date", "List", "Countries", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Countries) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Population)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
